[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
gunicorn = "==19.5.0"
itsdangerous = "==0.24"
"jinja2" = "==2.7.3"
markupsafe = "==0.23"
requests = "*"
werkzeug = "*"


[dev-packages]

